# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

## ðŸŸ¦ Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
t = (1, 2, 3, 4, 5)
print(t)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
# write your answer here
t = (1, 2.0, "three", True)
for element in t:
    print(element)

1
2.0
three
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [3]:
# write your answer here
t = ("Alice", "Bob", "Charlie", "David")
print(len(t))

4

### Question 4
Access and print the last element of a tuple.

In [4]:
# write your answer here
t = (1, 2, 3, 4, 5)
print(t[-1])

5

### Question 5
Check whether an element exists in a tuple or not.

In [6]:
# write your answer here
n = input("Enter element: ")
t = (1, 2, 3, 4, 5)
if n in t:
    print("Exists")
else:
    print("Does not exist")

Enter element: 6
Does not exist

### Question 6
Convert a tuple into a list.

In [7]:
# write your answer here
t = (1, 2, 3, 4, 5)
l = list(t)
print(l)

[1, 2, 3, 4, 5]

### Question 7
Convert a list into a tuple.

In [8]:
# write your answer here
l = [1, 2, 3, 4, 5]
t = tuple(l)
print(t)

(1, 2, 3, 4, 5)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [12]:
# write your answer here
n = int(input("Enter element: "))
t = (1, 2, 3, 2, 4, 2)
print(t.count(n))

Enter element: 2
3

### Question 9
Find the index of an element in a tuple.

In [13]:
# write your answer here
n = int(input("Enter element: "))
t = (1, 2, 3, 4, 5)
print(t.index(n))

Enter element: 3
2

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [14]:
# write your answer here
t = (1, 2, 3, 4, 5)
t[0] = 6
print(t)

TypeError: 'tuple' object does not support item assignment

## ðŸŸ© Set Practice Questions

### Question 11
Create a set of 5 unique numbers and print it.

In [15]:
# write your answer here
s = {1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

### Question 12
Create a set with duplicate values and observe the output.

In [16]:
# write your answer here
s = {1, 2, 3, 2, 4, 2}
print(s)

{1, 2, 3, 4}

### Question 13
Add an element to a set.

In [17]:
# write your answer here
s = {1, 2, 3, 4, 5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

### Question 14
Remove an element from a set.

In [18]:
# write your answer here
s = {1, 2, 3, 4, 5}
s.remove(3)
print(s)

{1, 2, 4, 5}

### Question 15
Check whether an element exists in a set.

In [19]:
# write your answer here
n = int(input("Enter element: "))
s = {1, 2, 3, 4, 5}
if n in s:
    print("Exists")
else:
  print("Does not exists")

Enter element: 6
Does not exists

### Question 16
Find the length of a set.

In [20]:
# write your answer here
s = {1, 2, 3, 4, 5}
print(len(s))

5

### Question 17
Convert a list with duplicate values into a set.

In [21]:
# write your answer here
l = [1, 2, 3, 2, 4, 2]
s = set(l)
print(s)

{1, 2, 3, 4}

### Question 18
Convert a set into a list.

In [22]:
# write your answer here
s = {1, 2, 3, 4, 5}
l = list(s)
print(l)

[1, 2, 3, 4, 5]

### Question 19
Find common elements between two sets.

In [23]:
# write your answer here
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5}
print(s1.intersection(s2))

{4, 5}

### Question 20
Find all unique elements from two sets.

In [24]:
# write your answer here
s1 = {1, 2, 3, 4, 5}
s2 = {4,5,6,7}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}